@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    font: var(--font);
}

:root {
    --color-one: #777777;
    --color-two: #232323;
    --font: 'DM Sans', sans-serif;
}