/* Header */

header {
    background: #EFEFEF;
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    z-index: 1;
}

.header .row {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 48px;
    height: 48px;
    margin: 10px;
}

.header .inner-logo {
    display: flex;
    align-items: center;
}

.header .inner-logo a {
    display: flex;
    color: var(--color-two);
    font-size: 24px;
    font-family: var(--font);
    font-weight: 700;
    text-decoration: none;
    align-items: center;
}

.header .inner-menu ul {
    display: flex;
    list-style-type: none;
}

.header .inner-menu ul li a {
    font-family: var(--font);
    font-size: 20px;
    text-decoration: none;
    color: var(--color-two);
    margin: 0 20px;
    padding: 42px 20px;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.header .inner-social ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header .inner-social ul li {
    margin: 0 10px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.header .inner-social ul li a {
    color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header .inner-menu ul li a:hover {
    background-color: #fff;
}

/* End Header */

/* Section One */

/* .section-one {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 13rem;
    padding-top: 13rem;
    position: relative;
}

.section-one .row {
    position: relative;
}

.section-one .inner-box h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    font-family: var(--font);
}

.section-one .inner-box h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font);
}

.section-one .inner-box p {
    color: var(--color-one);
    font-size: 20px;
    font-family: var(--font);
} */

.section-one {
    background-size: cover;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 13rem;
    padding-top: 13rem;
    position: relative;
}

.section-one .inner-wrap {
    position: relative;
}

/* .section-one::before {
    content: "";
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.8;
    position: absolute;
    pointer-events: none;
} */

.section-one h2.inner-heading {
    color: white;
    font-size: 17px;
    margin: 0;
}

.section-one h1.inner-title {
    color: white;
    font-size: 50px;
    margin: 25px 0 35px 0;
}

.section-one p.inner-desc {
    opacity: 0.8;
    color: white;
    margin: 0 0 40px 0;
    font-size: 18px;
}

/* buttons */
.button {
    color: var(--color-text);
    background-color: white;
    padding: 18px 40px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
}

.buton-two {
    color: var(--color-text);
    background-color: #F7D9C4;
    border: 1px solid #F7D9C4;
    margin-right: 20px;
}

.buton-two:hover {
    color: var(--color-text);
    background-color: #fff;
    border: 1px solid #fff;
}


.buton-two-outline {
    color: #fff;
    background-color: transparent;
    border: 1px solid gray;
}

.buton-two-outline:hover {
    color: var(--color-two);
    background-color: #F7D9C4;
    border: 1px solid #F7D9C4;
}


.buton-three {
    color: white;
    background-color: var(--color-text);
    border: 1px solid black;
}

.buton-three:hover {
    color: white;
    background-color: black;
    border: 1px solid black;

}

/* buttons */

/* Section Two */

.section-two {
    padding-top: 80px;
    background: #EFEFEF;
}

.section-two .inner-wrap {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

/* .section-two .inner-image {
    width: 50%;
} */

.section-two .inner-image img {
    width: 100%;
    border-radius: 10px;
}

.section-two .inner-content {
    width: 60%;
    padding: 0 20px;
    margin-left: 30px;
}

.section-two .inner-content h3 {
    color: var(--color-one);
    font-size: 1.1rem;
}

.section-two .inner-content h2 {
    color: var(--color-two);
    font-size: 3.8rem;
    margin: 10px 0;
}

.section-two .inner-menu {
    display: flex;
    justify-content: space-between;
}

.section-two .inner-menu .inner-box {
    margin-right: 20px;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.section-two .inner-desc {
    color: var(--color-one);
    font-size: 1.1rem;
}

.section-two .buton-two {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.section-two .buton-two .inner-desc {
    display: inline-flex;
    text-decoration: none;
    color: var(--color-two);
    padding: 1rem 2.6rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

/* End Section Two */